@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;1,300&family=Nunito:wght@200&family=Roboto+Mono:wght@200&family=Roboto:wght@300&family=Shrikhand&family=Square+Peg&display=swap');

.Cards {
    grid-gap: 30px;
    background-color: #f7f7f7;
    border-radius: 25px;
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
    margin: 45px;
    padding: 50px;
  }
  
  .article_Cards {
    position: relative;
    display: flex;
    width: 100%;
    height: 340px;
    border-radius: 10px;
  }
  
  .article_Cards img {
    display: flex;
    width: 100%;
    border-radius: 20px;
    object-fit: cover;
    filter: brightness(0.9);
  }
  
  .layer_Cards {
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100%;
    border-radius: 10px;
  }
  
  .p_Cards {
    display: flex;
    align-items: flex-end;
    position: absolute;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    color: #ffff;
    line-height: 142.6%;
    left: 5.88%;
    right: 5.88%;
    top: 78.82%;
    bottom: 5.88%;
  }
  
  @media screen and (max-width: 768px) {
    .Cards {
      display: flex;
      flex-direction: column;
      background-color: #ffff;
      margin: 25px 0px;
    }
  
    .article_Cards img {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 290px;
      margin-left: 0px;
      margin-right: 10px;
      border-radius: 10px;
    }

      .article_Cards {
    height: 0%;
  }
  }
  